@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Otavio Vasconcellos</h1>
    <p class="lead">otavio.vasconcelos@al.infnet.edu.br</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Software como serviço (SaaS)</h2>
        <p>
            É uma forma de distribuição e comercialização de software. No modelo SaaS, o fornecedor do software se responsabiliza por toda a estrutura necessária à disponibilização do sistema (servidores, conectividade, cuidados com segurança da informação), e o cliente utiliza o software via internet, pagando um valor pelo serviço.
        </p>
        Exemplos comuns são email, calendário,  Google Apps e ferramentas do Office (como Microsoft Office 365).
        @*<p><a class="btn btn-default" href="https://pt.wikipedia.org/wiki/Software_como_servi%C3%A7o">Saiba mais &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Plataforma como serviço (PaaS)</h2>
        <p> O PaaS é um tipo de serviço de computação em nuvem que facilita a administração dos recursos contratados,
            permitindo que a empresa e o seu departamento de tecnologia concentrem-se nas metas de seus serviços.
            Ele elimina a necessidade de gestores de TI se preocuparem com a necessidade de administrarem infraestruturas de hardware.
            Assim, a empresa poderá contar com uma plataforma de serviços na nuvem mais simples e prática.</p>
        Exemplos de PaaS; inclui infraestrutura – servidores, armazenamento e rede –, além de middleware, ferramentas de desenvolvimento,
        serviços de BI (business intelligence), sistemas de gerenciamento de banco de dados e muito mais. PaaS é criado para dar suporte ao ciclo de vida do aplicativo Web completo: compilação, teste, implantação, gerenciamento e atualização.
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Infraestrutura como serviço (IaaS)</h2>
        <p>O IaaS é um modelo de negócios em que empresas fornecem o acesso aos recursos básicos de um servidor,
            podendo ser contratado pelo cliente final, mas, muitas vezes, demandando o auxílio de um parceiro especialista (o Cloud Broker).
            Ele pode incluir — mas não se limitar a — contratação de serviços de rede, recursos computacionais ou de armazenamento de dados.
            Esse é um cenário em que a empresa contará com alto poder de controle sobre os recursos computacionais,
            uma vez que ela irá atuar na gestão da infraestrutura.Soluções desse tipo, como é o caso do Microsoft Azure e da Amazon AWS 
            são ideais para empresas que buscam eliminar preocupações e riscos relacionados com infraestrutura física de TI.</p>
        Exemplos de Coisas comuns que empresas fazem com IaaS:Teste e desenvolvimento, Hospedagem de sites, Armazenamento, backup e recuperação, Análise de Big Data e muitas mais...
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>